@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap");

body {
  color: white;
}

.navbar-nav .dropdown-menu {
  right: 0;
  left: auto;
}
.dropdown-item:hover {
  background-color: grey;
}
.navbar-brand {
  font-family: "Jacquard 12", system-ui;
  font-size: 54px;
}

.forma_body {
  position: relative;
  background-color: var(--form_background);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.forma_body input {
  margin-top: 10px;
  padding: 14px;
  border-radius: 10px;
  width: 308px;
  color: var(--font-opacity);
  border: solid 1px black;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: black;
}

.forma_body input:focus {
  outline: none;
}

button {
  cursor: pointer;
  border-style: none;
}

.name_box {
  display: flex;
}

.name_box input {
  border-radius: 10px;
  width: 151px;
  padding: 14px;
  margin-left: 6px;
}

.name_box input:first-child {
  margin-left: 0px;
}

.register_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9.12px;
  margin-top: 30px;
}

.register_box p {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-left: 12.4px;
}

.circle {
  height: 19.2px;
  width: 19.2px;
}

.forma_body button {
  border: 1px solid black;
  margin-top: 20px;
  width: 308px;
  border-radius: 10px;
  height: 50px;
  background-color: rgba(210, 33, 33, 0.724);
}

.sub_title_p {
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-size: 14.5px;
  font-weight: 400;
  line-height: 21.75px;
}

.main_text_form {
  font-size: 50px !important;
  font-weight: 900 !important;
  color: rgba(210, 33, 33, 0.724);
}

.sub_title_p a {
  color: black;
  text-decoration: underline;
}

.forma_close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 21px;
  cursor: pointer;
  color: black;
}

.submit_btn {
  font-size: 16px;
  line-height: 19.5px;
}

button:disabled {
  background-color: grey;
  cursor: default;
}

#signin_now {
  margin-top: 9.12px;
}

input:focus {
  box-shadow: 0 10px 10px -10px, 0 10px 10px -10px black;
}

input:focus:valid {
  border: 1.5px solid green;
}

input:focus:invalid {
  border: 1.5px solid #e30a17;
}
